@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
}

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #115e59;
}

@layer components {
  .login-page {
    overflow: auto;
    position: relative;

    width: 100%;
    height: 100vh;
  }

  .login-page::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url("https://images.unsplash.com/photo-1570366583862-f91883984fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    filter: blur(1px) brightness(50%);
  }

  .search-home {
    .ant-input-group > .ant-input:first-child {
      background-color: transparent;
      border-radius: 0%;
      border: none;
      border-bottom: 2px solid #10b981;
    }

    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
      background-color: transparent;
    }

    .ant-btn .ant-btn-icon {
      background-color: transparent;
    }

    .ant-input-search
      > .ant-input-group
      > .ant-input-group-addon:last-child
      .ant-input-search-button:not(.ant-btn-primary) {
      border: none;
      background-color: transparent;
    }

    .ant-input-search .ant-input:hover {
      color: #10b981;
    }
  }
}
